
.firebaseui-auth {
  width: 90%;
}
.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.firebaseui-id-page-callback.firebaseui-container {
  background: none;
  color: inherit;
  text-align: inherit;
  box-shadow: none;
  min-height: 0;

  &::before {
    content: 'Authenticating...';
  }
  .firebaseui-callback-indicator-container {
    display: none;
  }
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
.infinite-rotate {
	animation: rotate 1.75s infinite linear;
}
