
.authenticate {
  width: 90%;
}
.firebaseui-id-page-callback.firebaseui-container {
  background: none;
  color: inherit;
  text-align: inherit;
  box-shadow: none;
  min-height: 0;

  &::before {
    content: 'Signing in...';
  }
  .firebaseui-callback-indicator-container {
    display: none;
  }
}
