
// This site
//
$body_padding_y: 5vh;
$body_padding_x: 5vw;

$admin_width: 15rem;

// List group
//
$list-group-bg: transparent;
$list-group-item-padding-y: .55em;
$list-group-item-padding-x: 1.5em;
