@import '../../styles/start';

body {
  display: flex;
  align-items: flex-end;
  background: white;
  color: #222;
  transition: all 300ms ease-out;

  &.theme-dark {
    background: $black;
    color: white;
  }
  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
}
.btn-dark-toggle {
  position: fixed;
  top: 5vh;
  right: calc(#{$admin_width} + 5vw);
}
