
.items {
  position: relative;
}
.item {

  $friend_color: hsl(215, 100, 50);
  $roommate_color: hsl(90, 90, 50);
  $romance_color: hsl(-10, 100, 50);
  $place_color: hsl(20, 60, 50);

  border-radius: 10em;
  line-height: 1;
  margin: .2em 0;
  position: absolute;

  &.place {
    background-color: lighten($place_color, 40);
    color: darken($place_color, 30);
  }
  &.friend {
    background-color: lighten($friend_color, 40);
    color: darken($friend_color, 30);
  }
  &.romance {
    background-color: lighten($romance_color, 40);
    color: darken($romance_color, 30);
  }
  &.roommate {
    background-color: lighten($roommate_color, 40);
    color: darken($roommate_color, 30);
  }
  .title {
    display: inline-block;
    position: sticky;
    left: 1em;
    margin: .2em 1em;
    font-weight: 600;
    white-space: nowrap;
  }
}