
.items {
  position: relative;
}
.item {
  $colors: (
    'friend': hsl(215, 100, 50),
    'roommate': hsl(90, 90, 50),
    'romance': hsl(-10, 100, 50),
    'place': hsl(20, 60, 50),
  );

  border-radius: 10em;
  line-height: 1;
  margin: .2em 0;
  position: absolute;
  transition: all 300ms ease-out;

  @each $label, $color in $colors {
    &.#{$label} {
      background-color: rgba($color, .2);
      color: darken($color, 30);
    }
  }
  .title {
    display: inline-block;
    position: sticky;
    left: 1em;
    margin: .2em 1em;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
  }
  body.theme-dark & {
    @each $label, $color in $colors {
      &.#{$label} {
        color: lighten($color, 40);
      }
    }
  }
}
