
.dateline {

  $border_color: #999;

  margin: 1em 0;
  font-size: .75em;
  font-weight: 500;
  letter-spacing: .02em;
  white-space: nowrap;

  .year,
  .month {
    display: inline-block;
  }
  .year,
  .month-name {
    padding: .75em 0;
  }
  .year .name {
    position: sticky;
    left: 1rem;
    padding-right: 1rem;
  }
  .month-marks {
    display: flex;
    align-items: baseline;
    border-top: solid 1px $border_color;
  }
  .month-mark {
    border-left: solid 1px rgba($border_color, .4);
    height: .25em;
  }
  &.no-day-marks .month-mark:not(:first-child) {
    border-left-color: transparent;
  }
  .month-mark:first-child {
    border-left-color: $border_color;
    height: 1em;
  }
  &.no-day-marks .month-mark:first-child {
    height: .5em;
  }
}