
.dateline {
  $border_color: #888;

  margin: 1em 0;
  font-size: .75em;
  font-weight: 500;
  letter-spacing: .02em;
  white-space: nowrap;

  .year,
  .month {
    display: inline-block;
    position: relative;
    padding: .75em 0;

    &::before {
      content: '';
      position: absolute;
      border-left: solid 1px $border_color;
      left: 0;
      height: .5em;
    }
  }
  .year {
    border-bottom: solid 1px $border_color;

    &::before {
      bottom: 0;
    }
    .name {
      position: sticky;
      left: 1rem;
      padding-right: 1rem;
    }
  }
  .month {
    &::before {
      top: 0;
    }
  }
}