
.timeline .item {
  background-color: #bef4ed;
  border-radius: 10em;
  line-height: 1;
  margin: .2em 0;
}
.timeline .title {
  display: inline-block;
  position: sticky;
  left: 1em;
  margin: .2em 1em;
  font-weight: bold;
}
.time-line {
  margin: 1em 0;
  font-size: .75em;
  font-weight: 500;
  letter-spacing: .02em;
  white-space: nowrap;
}
.time-line .years,
.time-line .months {
}
.time-line .year,
.time-line .month {
  display: inline-block;
}
.time-line .year .name {
  position: sticky;
  left: 1rem;
  padding-right: 1rem;
}
.time-line .year,
.time-line .month-name {
  padding: .75em 0;
}
.month-marks {
  display: flex;
  align-items: baseline;
  border-top: solid 1px;
}
.month-mark {
  border-left: solid 1px rgba(0,0,0,.25);
  height: .25em;
}
.no-day-marks .month-mark:not(:first-child) {
  border-left-color: transparent;
}
.month-mark:first-child {
  border-left-color: currentColor;
  height: 1em;
}
.no-day-marks .month-mark:first-child {
  height: .5em;
}
